/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */
body{
  font-family: Tahoma, Geneva, sans-serif;
  text-align: center;
}

.header-information{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.header-text{
  display: flex;
  flex-direction: column;

}

.flag{
  width: 5%;
  height: 5%;
}




/* TABLET STYLES */


/* DESKTOP STYLES */
