/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

/*https://colorhunt.co/palette/207323*/


body{
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 2vw;
  text-align: center;
  /* background-color: #eff48e; */
  max-width: 95%;
}

.header{
  text-align: center;
  display: flex;
  margin-left: 23%;
  margin-right: 5%;
  flex-direction: row;
}

.header h1{
  font-size: 5vw;
  min-width: 300%;
}

.language-option{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-left: 50%;
}

.flag{
  width: 22%;
  height: auto;
  padding-left: 3%;
}



/* TABLET STYLES */


/* DESKTOP STYLES */
