/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

/* https://www.w3schools.com/w3css/4/w3.css */
.w3-animate-opacity{animation:opac 1s}@keyframes opac{from{opacity:0.4} to{opacity:1}}

/* All pages styles */
body{
  /* font-family: Tahoma, Geneva, sans-serif; */
  font-family: Didot LT STD;
  text-align: center;
  background-color: #ffffb3;
  margin: 0px;
}

body a{
  text-decoration: none;
}

p{
  font-size: 4vw;
}

h2{
  font-size: 4vw;
}

.bold-information{
  font-size: 3.5vw;
}

.header{
  text-align: center;
  display: flex;
  margin-left: 24%;
  margin-right: 5%;
  flex-direction: row;
}

.header h1{
  font-size: 5vw;
  min-width: 300%;
}

.header-contact-div{
  display: flex;
  color: red;
  margin: auto;
  padding-bottom: 1%;
}

.header-contact{
  display: flex;
  margin: auto;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 1.5%;
  font-size: 3.2vw;
}

.language-option{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-left: 45%;
}

.flag{
  width: 8vw;
  height: auto;
  padding-left: 20%;
}

.navigation-bar{
  list-style-type: none;
  padding: 0px;
  padding-bottom: 8%;
  margin-top: 0px;
  /* overflow: hidden; */
  /* background-color: #5ad8c5; */
  font-size: 2.4vw;
  font-weight: bold;
}

.navigation-bar li a{
  display: block;
  text-align: center;
  float: left;
  padding-top: 1.4%;
  padding-bottom: 1.4%;
  background-color: #5ad8c5;
}

.navigation-bar li a:hover{
  background-color: #5cbcb0;
  box-shadow: -3px 2px 3px black;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav-bar-eng{
  width: 25%;
}

.nav-bar-fr{
  width: 23%;
}

#wide-nav-option{
  width: 31%;
}

#active{
  background-color: #5cbcb0;
  box-shadow: -3px 2px 3px black;
}

#wide-nav-option-active{
  width: 31%;
  background-color: #5cbcb0;
  box-shadow: -3px 2px 3px black;
}

.inactive{
  color: black;
}


/* Auto slidesahow styles */
.auto-slideshow{
  margin: auto;
  width: 87%;
}

.slideshow-slide{
  height: 65vw;
  display: none;
}

#narow-image{
  padding-left: 20%;
}

/* Apartments slideshow styles */
.apartment-slideshow{
  padding-bottom: 4%;
}

.display-image{
  margin: auto;
  height: 50vw;
}

.nav-buttons{
  padding-top: 1%;
  padding-bottom: 1%;
}

.nav-buttons a{
  font-size: 6vw;
  padding-right: 4%;
  padding-left: 4%;
  padding-bottom: 0.3%;

  border-radius: 5%;
  background-color: #5ad8c5;
}

.previous{
  margin-right: 8%;
}

.next{
  margin-left: 8%;
}

.slideshow-options-list{
  display: flex;
  flex-direction: row;
}

.selector-image{
  height: 14.7vw;
  padding-left: 1.8vw;
  opacity: 0.4;
}

.slideshowB-img{
  padding-left: 1.8vw;
}

.selector-image-active{
  opacity: 1;
}

.initial-selection{
  opacity: 1;
}



/* price page */
.price-table{
  margin: auto;
  border-collapse: collapse;
  width: 95%;
  font-size: 3vw;
}

.price-table th{
  border-collapse: collapse;
  border-right: 1px solid black;
  padding-bottom: 1%;
  padding-top: 1%;
}

.price-table td{
  border-right: 1px solid black;
  padding-bottom: 1%;
  padding-top: 1%;
}

.price-table th:nth-last-child(1){
  border-right: none;
}

.price-table td:nth-last-child(1){
  border-right: none;
}

.price-table tr{
}

.price-table tr:nth-child(even){
  background-color: white;
  box-shadow: 3px 3px 3px black;
}

.documents{
  display: flex;
  margin: auto;
  width: 80%;
  margin-bottom: 10%;
}

.pdf-form{
  font-size: 3vw;
}

.maps-link a{
  font-size: 3vw;
}


/* Booking form */

.documents{
  padding-top: 5%;
  padding-right: 8%;
}

.pdf-form{
  margin-right: 5%;
  min-width: 50%;
}

.pdf-form a{
  color: black;
  font-weight: bold;
  width: 50%;

  border-radius: 5%;
  padding: 5%;
  background-color: #5ad8c5;
}

.pdf-form :hover{
  background-color: #5cbcb0;
  box-shadow: -3px 3px 3px black;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}




/* TABLET STYLES */
@media screen and (min-width: 500px) {

  p{
    font-size: 3vw;
  }

  .header{
    margin-left: 10%;
  }

}





/* DESKTOP STYLES */
@media screen and (min-width: 1000px) {
  p{
    font-size: 2vw;
  }

  .header{
    margin-left: 0px;
  }

  .header h1{
    margin-left: 0px;
    min-width: 275%;
    margin-top: 1%;
  }

  .language-option{
    padding-left: 43%;
  }

  .one-line-contact{
    display: flex;
    padding-left: 3%;
  }

  .header-contact-div{
    width: 65%;
  }

  #email-contact{
    width: 45%;
  }

  .header-contact{
    font-size: 2vw
  }

  .slideshow-slide{
    height: 20vw;
    padding-left: 35%;
  }

  #narow-image{
    padding-left: 42%;
  }


  .display-image{
    height: 25vw;
  }

  .selector-image{
    height: 12vw;
    padding-left: 5vw;
  }

}
